<!-- Footer -->
<footer class="text-center text-md-start ">

  <style>
  .logo-table {
    padding-top: 1em;
    background-color: white;
    border-radius: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .supporter-table {
    padding-top: 1em;
    background-color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }
  td {
   text-align: center;
  }
  .our--logos {
    padding-top: 1em;
    width: 60%;
  }
  .closing {
    text-align: center;
    font-size: 0.8em;
  }
  .github--logo {
    height: 20px;
  }
  </style>

  <!-- Section: Logos  -->
  <section>

    <div class="closing">
      <a href="https://github.com/hermescenter/dontspy.eu">
        <img class="github--logo" src="/images/github-icon.png" />
      </a>
      Announced on May 3rd, 2023. Campaign from:</div>
    <table class="logo-table">
      <td>
        <a target=_blank href="https://hermescenter.org">
          <img class="our--logos" src="/images/hermes.png" />
        </a>
      </td>
      <td>
        <a target=_blank href="https://infonodes.org">
          <img class="our--logos" src="/images/infonodes.jpeg" />
        </a>
      </td>
      <td>
        <a target=_blank href="https://www.thegoodlobby.eu">
          <img class="our--logos" src="/images/thegoodlobby.png" />
        </a>
      </td>
    </table>

    <br>
    <div class="closing">(Want to add your organization here? <a
        href="https://github.com/hermescenter/dontspy.eu/issues/2" target=_blank>
        share here logo and link
      </a>), or <a href="about/#contacts">get in touch</a>. Supported by:
    </div>

    <table class="supporter-table">
      <tr>
        <td>
          <a target=_blank href="https://www.privacy-network.it">
            <img class="our--logos" style="padding-bottom:1em"
              src="/images/privacynetwork.png" />
          </a>
        </td>
        <td>
          <a target=_blank href="https://ps.lesoiseaux.io/">
            <img class="our--logos" src="/images/petites-singularites.svg" />
          </a>
        </td>
        <td>
          <a target=_blank
            href="https://github.com/hermescenter/dontspy.eu/issues/2">
            <img class="our--logos" src="/images/placeholder.png" />
          </a>
        </td>
        <td>
          <a target=_blank
            href="https://github.com/hermescenter/dontspy.eu/issues/2">
            <img class="our--logos" src="/images/placeholder.png" />
          </a>
        </td>
      </tr>

    </table>

    <br>
    <br>

  </section>
</footer>
