body {
  font-family: "Barlow";
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Fix container width
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
  .container-lg {
    max-width: 1294px;
  }
  .container-lg > .row:first-child {
    padding: 77px 77px 0px !important;
  }
  .container-lg > .row:last-child {
    padding: 25px 77px 25px 77px !important;
  }
}
// Add extra bootstrap attributes
@include media-breakpoint-up(lg) {
  .ms-6 {
    margin-left: 4rem !important;
  }
}

.py-4-5 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

// Menu

.navbar-nav {
  & .nav-link-lang {
    // existing styles....
    &:after {
      content: "";
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.15rem;
      background: transparent;
      display: block;
      margin-top: 0.25rem;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &:hover,
    &:focus-visible,
    &.active {
      color: $teal-900;

      &:after {
        content: "";
        background: currentColor;
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  & li {
    & a {
      color: $coolgray-600;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 24px;
      padding: 15px 14px;

      &:hover {
        color: $teal-900;
      }
      &:active {
        color: $teal-900;
      }
    }
  }
}
// Navbar
nav {
  z-index: 2;
}
.navbar {
  height: 92px;
  .navbar-brand {
    @include media-breakpoint-down(md) {
      img {
        width: 100%;
      }
    }
  }
}

.navbar-toggler {
  font-size: 1.5rem;
  &:focus {
    box-shadow: none;
  }
  path {
    fill: $teal-600;
  }
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: $coolgray-900;
  overflow-x: hidden;
  transition: 0.3s;
  overflow: auto;
  overscroll-behavior-y: contain;
}

.overlay a:not(.brand) {
  text-decoration: none;
  font-size: 2rem;
  color: $white !important;
  display: block;
  transition: 0.3s;
  font-weight: 500;
}
.overlay button.dropdown__title {
  text-decoration: none;
  font-size: 2rem;
  color: $white;
  display: block;
  transition: 0.3s;
  font-weight: 500;
  padding-left: 0;
}

.overlay a:hover,
.overlay a:focus {
  color: $gray-100;
}

.overlay .closebtn {
  border: none;
  outline: none;
  background: transparent;
  color: $white;
  font-size: 1.5rem;
  padding: 0.25rem 0.75rem;
}

.wordmark {
  opacity: 0;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  left: 40px;
}

.navbar-brand:hover .wordmark {
  opacity: 1;
  transform: translateX(15px);
}

.navbar-mobile {
  & ul {
    list-style: none;
    padding-left: 0 !important;
  }
}

// Accessibility
.screen-reader-text {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  border-radius: 0.25rem;
  box-shadow: 0 0 0.125rem 0.125rem rgba(0, 0, 0, 0.6);
  clip-path: none;
  color: $teal-900;
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  width: auto;
  top: 0.25rem;
  left: 0.25rem;
  line-height: normal;
  padding: 1rem;
  text-decoration: none;
  z-index: 100000;
}

/// change nav bar structure

.navbar-nav {
  display: block;

  & li.nav-item {
    display: inline-block;
  }
}
// Headings

h1 {
  font-size: 3.75rem;
  @include media-breakpoint-down(sm) {
    font-size: 3rem;
  }
}

// Homepage styles
.homepage {
  & h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.025em;
  }

  & h1#styled-title {
    color: $coolgray-900;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.04em;
    & span {
      color: $teal-700;
    }
  }

  & .banner {
    & p.desc {
      font-size: 1.5rem;
      @include media-breakpoint-down(sm) {
        font-size: 1.25rem;
      }
    }
  }
  & .features {
    //existing styles...
    & .icon-wrapper {
      flex-basis: 18.6%;
      padding-right: 0.4%;
      & img {
        background: #99f6e4;
        padding: 15px;
        border-radius: 6px;
        width: 48px;
      }
    }
    & .content-wrapper {
      flex-basis: 81%;
      & .title {
        color: $coolgray-900;
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-weight: 500;
        text-decoration: none;
      }
      & p {
        font-size: 1rem;
        line-height: 1.5rem;
        color: $coolgray-500;
        font-weight: 400;
        padding-top: 1rem;
      }
    }
  }
  & .video-section {
    background: url(../../img/home/section-bg.svg);
    background-repeat: no-repeat;

    @include media-breakpoint-down(sm) {
      background: none;
    }

    & .video-wrapper {
      height: 400px;
      @include media-breakpoint-down(sm) {
        max-height: 243px;
      }
      @include media-breakpoint-only(md) {
        max-height: 250px;
      }

      & .inline-svg {
        width: 8rem;
        height: 8rem;
        @include media-breakpoint-down(sm) {
          width: 5rem;
          height: 5rem;
        }
        & svg {
          width: 100%;
          height: 100%;

          & path {
            fill: $teal-400;
          }
        }
      }
    }
    & .video-desc {
      & p {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.56;
        color: $coolgray-500;
      }
      & a {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
        color: $teal-600;
        text-decoration: none;
        & .inline-svg {
          width: 0.8rem;
          height: 0.8rem;
        }
      }
    }
    & .integrations {
      & > div {
        & .box-wrapper {
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.06);
          border-radius: 8px;
          max-width: 360px;
          padding: 1.5rem;
          @include media-breakpoint-down(md) {
            max-width: 100%;
          }
          & .icon-left {
            padding: 17px;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 8px;
            & .inline-svg {
              width: 1.62rem;
              height: 1.62rem;
              & path {
                fill: $teal-600;
              }
            }
          }
          & .icon-right {
            & .inline-svg {
              width: 1.25rem;
              height: 1.25rem;
              & path {
                fill: $coolgray-300;
              }
            }
          }
          & .title {
            font-size: 1.5rem;
            line-height: 1.17;
            font-weight: 500;
            color: $coolgray-900;
          }
          & .desc {
            font-size: 0.875rem;
            line-height: 1.43;
            font-weight: 400;
            color: $coolgray-500;
          }
        }
        & :first-child {
          & .box-wrapper {
            float: right;
          }
        }
      }
    }
  }
}
// Top Bar

#top-bar {
  background-color: $teal-600;
  color: #333;
  display: flex;
  align-items: flex-start;
  padding: 11px;
}
#top-bar p {
  margin: 0 auto 0 0;
  flex: 1;
  color: #fff;
  font-weight: 500;
  &::selection {
    color: $teal-600;
  }
}
#top-bar a {
  color: #fff;
  font-weight: 700;
  padding-left: 1.5rem;
  text-decoration: underline;
  svg {
    width: 1rem;
  }
  &::selection {
    color: $teal-600;
  }
  @include media-breakpoint-down(sm) {
    display: block;
    padding-left: 0;
    svg {
      width: 1rem;
    }
  }
}

#close-btn {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-left: auto; /* align to right */
}

// Call-to-Action

.calltoaction {
  & h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.11;
    color: $coolgray-900;
  }
  & p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    color: $coolgray-700;
  }
  & a {
    background: $white;
    border: 1px solid $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    padding: 13px 21px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: $teal-800;
    text-decoration: none;
    @include media-breakpoint-down(sm) {
      width: 100%;
      text-align: center;
    }
  }
}
//Footer

footer {
  //existing styles...
  & .logos {
    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
    & p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      text-transform: uppercase;
      color: $teal-50;
      @include media-breakpoint-down(md) {
        flex-basis: 100%;
        text-align: left;
      }
      // @include media-breakpoint-down (xl){
      //   flex-basis: 33%;
      // }
    }
    & img {
      @include media-breakpoint-down(md) {
        flex-basis: 50%;
        max-width: 160px;
      }
      // @include media-breakpoint-down (xl){
      //   flex-basis: 33%;
      // }
    }
  }

  & .socials {
    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
    & a {
      color: $teal-50;
      padding: 0 1rem;
      @include media-breakpoint-down(sm) {
        padding-left: 0;
      }
    }
  }
  & .copyright {
    & p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: $teal-50;
    }
  }
}

// filter-form styles

.form-filter {
  // .form-row > div{
  //   flex: 1;
  // }
  input::placeholder {
    color: $coolgray-500;
    font-size: 1rem;
  }
  & label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $coolgray-700;
    & p {
      color: $coolgray-500;
    }
  }

  & details {
    //...
    & > div {
      background: #ffffff;
      mix-blend-mode: normal;
      border: 1px solid $teal-600;
      border-radius: 6px;
      padding-block: 1.125rem;

      & .form-group-checkbox {
        gap: 0.75rem;
      }
      & > div {
        padding-inline: 2rem;

        @include media-breakpoint-down(sm) {
          padding-inline: 1rem;
        }
      }
    }
    & summary {
      color: $teal-700;
    }
  }
}

input[type="text"] {
  background: #ffffff;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding-block: 0.625rem;
}
select#country {
  background: linear-gradient(
      to right,
      white 20%,
      white 20%,
      white 95%,
      #ffffff00 0
    ),
    url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding-block: 0.625rem;
}

input[type="submit"] {
  background: #fde68a;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  border: none;
  padding-block: 0.625rem;
  color: #78350f;
}

a#advanced-options-toggle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0f766e;
  text-decoration: none;
}

.inline-svg {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
}

#top-bar .inline-svg {
  display: flex;
}

button#openModalDialog {
  border: none;
  background: transparent;
}

dialog::backdrop {
  backdrop-filter: blur(3px);
  background-color: #00000090;
}

dialog {
  border: none;
  background: transparent;
  padding: 0;
  width: 50%;

  @include media-breakpoint-down(lg) {
    width: 100%;
  }

  & .container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

// Results page
.test-results {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

#test-url {
  font-size: 2rem;
  color: $teal-700;
  font-weight: 500;
  text-decoration: underline;
  letter-spacing: -0.025em;
}

#test-country {
  display: inline-block;
  color: $yellow-800;
  background-color: $yellow-100;
  font-weight: 500;
  font-size: 0.95rem;
  padding: .25rem .75rem;
  border-radius: .5rem;
}