/* these before the click */
.emoji {
  font-size: 1.9em;
}

.state--name {
  line-height: 2em;
  font-size: 1.4em;
}

.list-of-meps {
  width: 200px;
}

/* these after the click */
.element-item {
  position: relative;
  float: left; 
  width: 200px;
  height: 150px;
  margin: 5px;
  padding: 10px;
  background: palegoldenrod;
  color: #ff4747;
  cursor: pointer;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;
  left: 10px;
  top: -5px;
  font-size: 12px;
  color: black;
  font-weight: bold;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 15px;
}

.element-item .number {
  position: absolute;
  left: 10px;
  top: 50px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 70px;
}

.alert {
  color: #ff4747;
  font-size: 1.4em;
}

.image-item {
  /* float: left; */
  border-radius: 0px 15px 0px 15px;
  width: 450px;
  padding: 4px;
  margin-bottom: 4px;
  background: palegoldenrod;
  color: #ff4747;
  /* cursor: pointer; */
  margin-right: 4px;
}

.contained-image {
  width: 180px;
  height: 210px;
}

.mepname {
  font-weight: 700;
  padding-top: 20px;
  font-size: 1.7em;
}

.biometry {
  font-weight: 600;
  padding-top: 10px;
  font-size: 1.2em;
}

.mepinfo {
  padding-top: 10px;
}

.mep-attributions {
  padding: 4px;
}

.meprbi {
  padding: 4px;
  width: 50%;
  float: left;
}

.contained-info {
  font-size: 0.7em;
  line-height: 0.7em;
  word-break: break-all;
  width: 250px;
  opacity: 0.6;
  float: right;
}

.label {
  background-color: black;
  color: white;
  border-radius: 3px;
  margin: 1px;
  padding: 1px;
}

/* individual */
.main--table {
  width: 80%;
  margin-left: 10%;
  border-collapse: collapse;
  border-top: 50px solid #062f54;
  border-left: 50px solid #062f54;
  border-right: 50px solid #062f54;
  background: #062f54;
}

.group--name {
  font-size: 11px;
  /* font-family: 'Courier New', Courier, monospace; */
  word-break: break-word;
};

.party--name {
  font-size: 10px;
  word-break: break-word;
}

.table--data {
  line-height: 15px;
  max-width: 220px;
}

.mep--name {
  font-size: 24px;
  font-weight: 700;
}

.footer--container {
  text-align: center;
}

.small--logo {
  width: 100px;
  border-radius: 50px;
}

#target {
  color: white !important;
  border: 1px solid black;
  background-color: #062f54;
}

.colorful {
  color: #25d0c8;
}