{{ $group := .Get "group" }}

<div class="container img__limit">
  {{ if eq $group "1" }}
    <p>Nope!</p>
  {{ else if eq $group "plus" }}
    <img src="/MEPs/pics/124693.jpg" />
    <img src="/MEPs/pics/124696.jpg" />
    <img src="/MEPs/pics/124700.jpg" />
    <img src="/MEPs/pics/124701.jpg" />
    <button style="font-size:2em;">+ add</button>
  {{ else if eq $group "6" }}
    <img src="/MEPs/pics/124705.jpg" />
    <img src="/MEPs/pics/124708.jpg" />
    <img src="/MEPs/pics/124709.jpg" />
    <img src="/MEPs/pics/124710.jpg" />
    <img src="/MEPs/pics/124712.jpg" />
    <img src="/MEPs/pics/124747.jpg" />
  {{ else }}
    <div>NOT SUPPORTED</div>
  {{ end }}
</div>


<!--

<img src="/MEPs/pics/124760.jpg" />
<img src="/MEPs/pics/124770.jpg" />
<img src="/MEPs/pics/124771.jpg" />
<img src="/MEPs/pics/124777.jpg" />
<img src="/MEPs/pics/124780.jpg" />
<img src="/MEPs/pics/124781.jpg" />
<img src="/MEPs/pics/124784.jpg" />
<img src="/MEPs/pics/124785.jpg" />
<img src="/MEPs/pics/124799.jpg" />
<img src="/MEPs/pics/124802.jpg" />
<img src="/MEPs/pics/124806.jpg" />
<img src="/MEPs/pics/124807.jpg" />
<img src="/MEPs/pics/124808.jpg" />
<img src="/MEPs/pics/124812.jpg" />
<img src="/MEPs/pics/124821.jpg" />
<img src="/MEPs/pics/124822.jpg" />
<img src="/MEPs/pics/124828.jpg" />
<img src="/MEPs/pics/124831.jpg" />
<img src="/MEPs/pics/124833.jpg" />
<img src="/MEPs/pics/124834.jpg" />
<img src="/MEPs/pics/124835.jpg" />
<img src="/MEPs/pics/124836.jpg" />
<img src="/MEPs/pics/124837.jpg" />
<img src="/MEPs/pics/124844.jpg" />


-->