{{ define "main" }}
<section class="home section mt-5" id="home">
  <div class="home__container container grid">
    {{ .Content }}
  </div>
  <br /> 
</section>


<script type="text/javascript">

function createImageElement(o) {
  /*console.log(o);
  TLC: "HR"
  facerec: { fname: "197413.jpg", gender: "male", genderProbability: 0.8836937546730042, … }
    age: 33.42464065551758
    box: Array(4) [ 22.81641956781164, 74.55391730070114, 121.94719126224516, … ]
    expression: Array [ "happy", 0.999958872795105 ]
    expressions: Object { neutral: 0.000008262367373390589, happy: 0.999958872795105, sad: 2.0197088446138878e-9, … }
    fname: "197413.jpg"
    gender: "male"
    genderProbability: 0.8836937546730042
    imageShape: Array(4) [ 1, 215, 170, … ]
    when: "2023-03-19T16:58:28.746Z"
  },
  group: "Group of the European People's Party (Christian Democrats)"
  id: "197413"
  name: "Karlo RESSLER"
  nation: "Croatia"
party: "Hrvatska demokratska zajednica"*/

  const imgname = o?.facerec?.fname;
  return `
    <div class="float--left">
      <div class="mep--party">
        ${o.nation}
      </div>
      <span id="mep--${o.id}">
        <img class="mep--img" src="/MEPs/pics/${imgname}">
      </span>
      <div class="mep--name">${o.name}</div>
    </div>
  `;
}

function createCanvas(o, imageNumber) {
  const canvas = document.createElement('canvas');
  const targetSpan = document.getElementById(`mep--${o.id}`);

  const spanRect = targetSpan.getBoundingClientRect();
  // console.log(coord);

  /*align the canvas over the image*/
  canvas.style.position = 'absolute';
  canvas.style.left = `${spanRect.x}px`;

  const ctx = canvas.getContext('2d');
  ctx.lineWidth = 4;
  ctx.strokeStyle = '#FF4747';
  ctx.fillStyle = '#FF4747';

  const text1 = `${Math.round(100 * o.facerec.genderProbability)}% ${o.facerec.gender}`;
  addText(text1, ctx, 0, 10);

  const text2 = `${Math.round(o.facerec.age)} years`;
  addText(text2, ctx, 0, 25);

  const text3 = `${o.facerec.expression[0]} ${Math.round(100 *o.facerec.expression[1])}%`;
  addText(text3, ctx, 0, 40);
  /*
  ctx.beginPath()
  ctx.rect(o.facerec.box[0], o.facerec.box[1],
    o.facerec.box[2], o.facerec.box[3]);
  ctx.stroke();
  */

  targetSpan.appendChild(canvas);
}

function addText(textString, ctx, x, y) {
  // all hail to stackoverflow
  // https://stackoverflow.com/questions/18900117/write-text-on-canvas-with-background
  ctx.save();
  /// draw text from top - makes life easier at the moment
  ctx.textBaseline = 'top';
  /// color for background
  ctx.fillStyle = '#f5f2cc'; // highlight color, Lemon chiffon
  /// get width of text
  const width = ctx.measureText(textString).width;
  /// draw background rect assuming height of font
  ctx.fillRect(x, y, width + 4, 12);
  /// text color
  ctx.fillStyle = '#ff4747'; // imperial red
  /// draw text on top, with a space in front
  ctx.fillText(` ${textString}`, x, y + 2);
  /// restore original state
  ctx.restore();
}

const ENTRIES_NUMBER = 10;
/*This should be reflected by the shortcode in _index.md*/

async function io() {
  const server =
    window.location.hostname === 'localhost' ?
    'http://localhost:2023/api/homepage' : '/api/homepage';

  let mepdata = null;
  try {
    const response = await fetch(server);
    mepdata = await response.json();

    if(!mepdata)
      throw new Error("Not received expected data");

    if(mepdata.error)
      throw new Error(mepdata.message);

  } catch(error) {
    console.log(`Error with server ${server}`);
    const m = `Unable to retrieve faces: ${error.message}`;
    for(const rowNumber of _.times(ENTRIES_NUMBER) ) {
      const rowID = `#facelist-${rowNumber}`;
      $(rowID).html(`<div class="alert">${m}</div>`);
    }
    return;
  }
  
  /*these functions loop 8 times because the 'mepdata'
   * is divided in 8 chunks */
  await htmlAppend(mepdata);
  await new Promise(resolve => setTimeout(resolve, 400));
  await canvasPaint(mepdata);
}

async function htmlAppend(mepdata) {
  /*in _index.md there are $ENTRIES_NUMBER <div>s*/
  for(const rowNumber of _.times(ENTRIES_NUMBER) ) {
const elements =_.map(mepdata[rowNumber], createImageElement);
    const htmlblob = elements.join('');

    const rowID = `#facelist-${rowNumber}`;
    // console.log(`Appending ${htmlblob.length} to ${rowID}`);
    $(rowID).html(htmlblob);
  };
}

async function canvasPaint(mepdata) {
  /*after having created the images, let't build the canvas on top*/
  for(const rowNumber of _.times(ENTRIES_NUMBER) ) {
const elements =_.each(mepdata[rowNumber], createCanvas);
    // console.log(`Build overlay for line n ${rowNumber}`);
  };
}

try {
  io();
} catch(error) {
  console.log(`Error: ${error.message}`);
  _.times(10, function(listNumber) {
    $(`#facelist-${listNumber}`).text(`Error: ${error.message}`);
  });
}

</script>

{{ end }}